table, th, td {
	padding: 5px;
	background-color: #56BC3E;
	border-collapse: collapse;
	border-radius: 10px;
}

th {
	border-style: none;
	text-align: center;
}

td {
	font-family: Georgia;
}

.center{
	margin-left: auto;
	margin-right: auto;
	margin-top: 13%;
}

body {
	background-image: url(images/galaxy.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	margin-top: 10%;
	text-align: center;
	font-family: Georgia;
	color: #3EC1AE;
}

#dark_background {
	
}

tr.dark td {
	background-color: #F7F62D;
}